.homePage {
  display: flex;
  justify-content: space-between;
}

.Navbar {
  margin-top: 100px;
  font-size: $l-size;
  text-decoration: none;
  padding: 14px 8px;
  background-color: $blue;
  margin-right: 10px;
}
.Navbar > a {
  color: white;
  margin-left: 10px;
}

// @media phone sizes
@media only screen and (max-width: 767px) {
  .homePage {
    flex-direction: column;
  }
  h2 {
    margin: $no-size;
  }
  .Navbar {
    margin-top: $font-size-small;
    display: flex;
    color: #f7f7f7;
    text-align: center;
    justify-content: space-around;
  }
}
