//  colors
$dark-grey: #333;
$grey: #666;
$blue: #1c88bf;
$dark-blue: #364051;
$off-white: #f7f7f7;
$light-blue: #49cef0;
$light-green: #047179;

// Font Size
$no-size: 0px;
$font-size-small: 5px;
$font-size-midium: 10px;
$font-size-large: 15px;

// Spacing
$s-size: 10px;
$m-size: 18px;
$l-size: 26px;
$xl-size: 50px;
